services:
  app:
    build:
      context: .
      dockerfile: dockerfiles/local.Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - .:/app

  db:
    image: postgres:18
    env_file:
      - .env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U myuser -d mydb"]
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

  swagger-ui:
    image: swaggerapi/swagger-ui
    container_name: swagger-ui
    ports:
      - "80:8080"
    volumes:
      - ./docs/swagger.json:/app/swagger.json
    environment:
      - SWAGGER_JSON=/app/swagger.json
    depends_on:
      - app

volumes:
  postgres_data:
