services:
  app:
    build:
      context: .
      dockerfile: dockerfiles/local.Dockerfile
    ports:
      - "8080:8080"
    container_name: mobileorder
    depends_on:
      - db
    env_file:
      - .env
    volumes:
      - .:/app

  db:
    image: postgres:18
    container_name: postgres-db-team1
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data:
